---
const { src, alt = "" } = Astro.props;
---

<div class="media-vertical">
  <iframe
    width="100%"
    height="100%"
    src={src}
    title={alt}
    frameborder="0"
    allow="autoplay; fullscreen"
    allowfullscreen
  ></iframe>
</div>